<div class="box">
  <%= form_tag project_custom_fields_defaults_path(@project.id), method: 'post', id: 'form_project_custom_fields_defaults_setting' do %>
    <%= hidden_field_tag(:tab, 'custom_fields_default_settings') %>
    <%= l(:label_custom_field) %>:   
    <%= select_tag 'project[custom_fields_default_attributes][custom_field_id]', 
      options_from_collection_for_select(
        TimeEntryCustomField.all, 'id', 'name', 
        @project.custom_fields_default ? @project.custom_fields_default.custom_field_id : 0
      ), id: 'default_custom_field'
    %>
    <p></p>
    <%= l(:field_default_value) %>:
    </p>
    <% if @project.custom_fields_default %>
    </p>   
      <%= radio_button_tag 'project[custom_fields_default_attributes][value]', '', @project.custom_fields_default.value.blank? %>
      <%= l(:label_none) %>
      <% @project.custom_fields_default.custom_field.enumerations.active.each do |element| %>
        </p>
        <%= radio_button_tag 'project[custom_fields_default_attributes][value]', element.id, 
          @project.custom_fields_default.value == element.id.to_s
        %>
        <%= element.name %>
      <% end %>
    <% end %>  
    </p>    
    <%= submit_tag(l(:button_save)) %>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $("#default_custom_field").change(function () {
      $("#form_project_custom_fields_defaults_setting").submit();
    })    
  });
<% end %>




